html {
	margin: 0;
	padding: 0;
	width: 100%;
	font-family: sans-serif;
}
body {
	margin: 0;
	padding: 0;
	width: 100%;

	background-color: #8CC7FF;
}
h1 {
	margin: 0;
	padding: 1%;

	background-color: #00aff0;
	color: #fff;
}

fieldset {
	border-width: 0;
	margin: 15px 0%;

	background-color: #fff;
}